.management__body {
    border-left: 1px solid #C3C3C3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.site_body {
    width: 60vw;
}

.button_container{
    width: 20vw;
    margin-top: 10vh;
    height: 7vh;

}

.input_container {
    margin-top: 10vh;
}

.input_title {
    font-weight: bold;
}

.input {
    width: 45vw;
    margin-top: 1vh;
}

.management__title {
    margin-top: 10vh;
}

.input_button {
    width: 20vw;
    margin-top: 1vh;
    height: 7vh;
}
