.my_input {
    width: 100%;
    height: 4.5vh;
    font-size: 1vw;
    padding: 5px 10px;
    margin: 5px 0;
    border: 2px solid var(--color-border);
    border-radius: 1.3vw;
    background-color: var(--color-element-background);
    color: var(--color-font);
    font-family: "NotoSans-Medium";
}