
.result_container {
    width: 100%;
    margin-top: 2vh;
}

.result_title {

}

.result_sites_container {
    margin-top: 1vh;
    height: 50vh;
    border: 2px solid var(--color-border);
    background-color: #D9D9D9;/*var(--color-element-background);*/
    border-radius: 2vh;
    overflow: auto;
    overflow-x: hidden;
}

.loadingCircle {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}
