
.result_container {
    width: 100%;
    margin-top: 2vh;
    position: relative;
}



.result_sites_container {
    margin-top: 1vh;
    height: 50vh;
    border: 1px solid var(--color-border);
    background-color: var(--color-element-background);
    border-bottom-left-radius:  6px;
    border-top-left-radius:  6px;
    overflow: auto;
    /*overflow-x: hidden;*/

}

.result_sites_container::-webkit-scrollbar {
    background-color: var(--color-element-background);
    width: 15px;
}

.result_sites_container::-webkit-scrollbar-thumb {
    background-color: var(--color-element-background-2);
    border-radius: 10px;

}

.loadingCircle {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.placeholder {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.paginatorContainer {
    position: absolute;
    z-index: 1;
    bottom: 1px;
    right: 20px;
    left: 1px;
    border-radius: 6px;
    display:flex;
    justify-content: center;
    background: var(--color-element-background);

}


