
.result_container {
    width: 100%;
    margin-top: 2vh;
}

.result_title {

}

.result_sites_container {
    margin-top: 1vh;
    height: 50vh;
    border: 2px solid #5D606C;
    background-color: #C3C3C3;
    border-radius: 2vh;
    overflow: auto;
}

.loadingCircle {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}
