.siteURL {
    color: #989898;
    font-size: 1.2em;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.siteURL a{

}

.siteText {

}

.siteTitle {
    margin-top: 10px;
    color: #6699EB;
    font-weight: bold;
}

.siteSnippet {
    margin-top: 10px;


}


.snippetContainer {
    display: flex;
    justify-content: space-between;
}

.listElement {

    margin-bottom: 30px;

}

.siteRelevance {
    font-style: italic;
    margin-right: 40px;
}