.mySelector {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60vw;
    height: auto;
    border-radius: 1.3vw;
    margin-top: 2vh;
    background-color: #C3C3C3;
    border: 2px solid #5D606C;
}

.myModal {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:13vw;
    display: none;
    background-color: rgba(0,0,0,0.05);
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalList {
    margin: 1vh 1vw;
    list-style: none;
}

.siteContainer {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.sitePicker {
    width: 2vw;
    cursor: pointer;
}

.siteContainer::-webkit-scrollbar {
    width: 0;
    height: 0;
    /*background-color: red;*/
}

.sitePair {
    max-width: 48vw;
    display: flex;
    margin-left: 2vw;
    align-items: center;
    overflow-x: auto;
}

.sitePair::-webkit-scrollbar {
    width: 0;
    height: 0;
    /*background-color: red;*/
}

.siteName {
    font-weight: bold;
}

.siteLink {
    margin-left: 2vw;
}

.siteAndSeparator {

}

.separator {
    margin-left: 3vw;
    width: 90%;
    height: 1px;
    border-radius: 2px;
    background-color: #5D606C;
}

.nameButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.deleteButtonContainer {
    margin-right: 4vh;
    height: 4vh;
    width: 10px;
}

.deleteButton {
    cursor: pointer;
}

.deleteButton:active {
    translate: 2px 2px;
    height: 3vh;
}


.noneSeparator {
    margin-left: 3vw;
    margin-top: 1vh;
    width: 90%;
    border-radius: 2px;
}

.separatorContainer {
    /*padding: 1vh 1vw;*/
    margin: 1vh 1vw;
}

.applyButton {
    height: 7vh;
    width: 13vw;
    margin: 0 0 1vh 1vw;
    text-align: center;
}
