.mySelector {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
    background-color: var(--color-element-background);
    border: 1px solid var(--color-border);
}

.myModal {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:13vw;
    display: none;
    background-color: rgba(0,0,0,0.05);
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalList {
    margin: 1vh 1vw;
    list-style: none;
}

.siteContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 30px;
}

.sitePicker {
    min-width: 30px;
    cursor: pointer;
}

.siteContainer::-webkit-scrollbar {
    width: 0;
    height: 0;
    /*background-color: red;*/
}

.sitePair {
    width: 80%;
    display: flex;
    margin-left: 20px;
    align-items: center;
    overflow-x: auto;
}

.sitePair::-webkit-scrollbar {
    width: 0;
    height: 0;
    /*background-color: red;*/
}

.siteName {
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 45%;
    font-family: SegoeUI-bold, serif;
}

.siteLink {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1em;
    width: 45%;
    margin-left: 2vw;
}

.siteAndSeparator {

}

.separator {
    margin-left: 30px;
    width: 90%;
    height: 1px;
    border-radius: 2px;
    background-color: var(--color-border);
}

.nameButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.deleteButtonContainer {
    width: auto;
    display: flex;
    justify-content: end;
    height: 40px;
}

.deleteButton {
    cursor: pointer;
    height: 40px;
}

.deleteButton:active {
    translate: -4px 4px;
    height: 30px;
}


.noneSeparator {
    margin-top: 1vh;
    width: 90%;
    border-radius: 2px;
}

.separatorContainer {
    /*padding: 1vh 1vw;*/
    margin: 10px;
}


