.searchBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.headerBodyCenter{
    transition: all .2s ease-in-out;
    width: 60vw;
    margin-top: 22vh;
}

.search__title {
    display: flex;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
}

.searchHeader {
    align-items: center;
    justify-content: center;
}

.headerBody {
    transition: all .2s ease-in-out;
    width: 60vw;
}

.site_body {
    width: 60vw;
}



.site_selector{
    margin-top: 5vh;
    width: 60vw;
}