.myModal {
    position: fixed;
    height: 0;
    width: 60vw;
    overflow: hidden;
    border-radius: 1.3vw;
    background-color: #f3f3f3;
    border: 2px solid #CCC9C9;
    display: none;
    translate: 0 -7px;
}

.headerContainer{
    margin-inline: 1vw;
    margin-top: 1vh;
    display: flex;

}

.headerTextImgContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.modalHeader {
    height: 6vh;
}

.headerText {
    margin-left: 2vw;
}

.myModal.active {
    display: flex;
    flex-direction: column;
    height: auto;
}

.modalList {
    margin-inline: 1vw;
    list-style: none;
}

.modalContent {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.triangle {
    width: 2vw;
    rotate: 180deg;
}

.siteContainer {
    display: flex;
    flex-direction: row;
}

.sitePair {
    display: flex;
    margin-left: 2vw;
    align-items: center;
}

.siteName {

}

.siteLink {
    margin-left: 2vw;
}

.siteAndSeparator {

}

.separator {
    margin-left: 3vw;
    width: 90%;
    height: 1px;
    border-radius: 2px;
    background-color: #C3C3C3;
}

.nameButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.deleteButtonContainer {
    margin-right: 4vh;
    height: 3vh;
    width: 10px;
}

.deleteButton:active {
    translate: 2px 2px;
    height: 4vh;
}


.noneSeparator {
    margin-left: 4vw;
    margin-top: 1vh;
    width: 90%;
    border-radius: 2px;
}

.separatorContainer {
    /*padding: 1vh 1vw;*/
    margin: 1vh 1vw;
}

.applyButton {
    height: 7vh;
    width: 13vw;
    margin: 0 0 1vh 1vw;
    text-align: center;
}