* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NotoSans-Regular";
}

.App {
  text-align: center;
}



#root {
  background-color: #E8E8E8;
  height: 100vh;
  display: flex;
  flex-direction: row;
}


@font-face {
  font-family: "NotoSans-Regular";
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "NotoSans-Bold";
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-style: auto;
  font-weight: bold;
}

::selection {
  background-color: #a4a4a4;
  color: #fff;
}


