* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NotoSans-Regular";
}

.App {
  text-align: center;
  /*color: var(--color-grey)*/
}

:root {
  --color-grey: grey;
}



#root {
  background-color: #E8E8E8;
  height: 100vh;
  display: flex;
  flex-direction: row;
}


@font-face {
  font-family: "NotoSans-Regular";
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "NotoSans-Medium";
  src: url("../fonts/NotoSans-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "NotoSans-Bold";
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

::selection {
  background-color: #a4a4a4;
  color: #fff;
}


