* {
  background-color: #F3F3F3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.navbar {
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: right;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.body {
  border-left: 1px solid #C3C3C3;
  width: 100%;
}

.link__container {
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
  align-items: center;
  text-align: center;
}

.nav__link {
  font-size: 1.7vw;
  width: 100%;
  border: 1px solid #C3C3C3;
  border-bottom: 0;
  border-right: 0;
  padding: 10px 10px;
  margin-right: 0;
  text-decoration: none;
  color:black;
}

.link__container:last-child {
  border-bottom: 1px solid #C3C3C3;
}

