:root {
    --color-background: #19191C;
    --color-element-background: #29292C;
    --color-element-background-2: #222224;
    --nav-background: #555555;
    --nav-textcolor: #DDDDDD;
    --nav-border: #888888;
    --color-border: #5D606C;
    --color-font: #FFFFFF;
    --color-button-active: #393A3E;
    --color-selection: #A4A4A4;
}