:root {
    --color-background: #F5F5F5;
    --color-element-background: #F0F0F0;
    --color-element-background-2: white;
    --color-border: #747E89;
    --color-font: #000000;
    --color-button-active: #A1A1A3;
    --color-selection: #A4A4A4;
}