.navbar {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: var(--nav-background);
    border-right: 1px solid var(--nav-border);
    height: 100%;
}

.logoContainer {
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarLinkContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}



.link {
    text-decoration: none;
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--nav-border);
}

.link:last-child {
    border-bottom: 1px solid var(--nav-border);
}

.linkText {
    text-decoration: none;
    color: var(--nav-textcolor);
    font-size: 1.4em;
    font-family: "SegoeUI-medium", sans-serif;
    margin-left: 20px;
}

.themToggle {
    position: absolute;
    right: 20px;
    top: 15px;

}

.linkText:hover {
    color: #FFFFFF;
}

.linkText:active {
    color: #7FE7D3;
}

.active {
    color: #7FE7D3;
}

.toggleThemeButton {
    /*background-color: #7FE7D3;*/
    /*color: #464646;*/
}
