.myModal {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:13vw;
    display: none;
    background-color: rgba(0,0,0,0.05);
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalList {
    margin: 2vh 1vw;
}

.modalContent {
    width: 80%;
    height: 85%;
    border-radius: 2vw;
    margin: 2vw 1vw;
    background-color: #F3F3F3;
    border: 2px solid #CCC9C9;
}

.siteContainer {
    display: flex;
    flex-direction: row;
}

.siteName {
    display: flex;
    margin-left: 3vw;
}

.siteAndSeparator {

}

.separator {
    margin-left: 4vw;
    width: 90%;
    border-radius: 2px;
    border: 1px solid red;
}

/*.separator:last-child {*/
/*    display: none;*/
/*}*/

.noneSeparator {
    margin-left: 4vw;
    margin-top: 1vh;
    width: 90%;
    border-radius: 2px;
}

.separatorContainer {
    padding: 1vh 1vw;
}
