.profile__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.profile__title {
    font-size: 1.5vw;
    height: 65px;
    margin-top: 10vh;
}

.buttonContainer {
    width: 200px;
}