.profile__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.profile__title {
    font-size: 1.4em;
    margin-top: 80px;
}

.profileContainer {
    margin-top: 100px;
    border: 2px solid var(--color-border);
    width: 700px;
    padding: 50px 0 50px 100px;
    background-color: var(--color-element-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.emailContainer {
    display: flex;
    align-items: center;
}

.textTitle {
    font-weight: 400;
    font-size: 1.7em;
    font-family: "SegoeUI-medium";
}

.email {
    font-size: 1.5em;
    margin-left: 4vw;
}

.changePassContainer {
    margin-top: 50px;
}

.changePassInputContainer {
    padding: 30px 20px 0 0;
}

.newPassInput {
    width: 20vw;
    display: flex;
}

.oldPassInput {
    display: flex;
    width: 20vw;
}

.saveButton {
    display: flex;
    margin-left: 2vw;
}

.newPassButtonContainer {
    height: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;

}

.notificationsContainer {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.notificationsImage {
    margin-left: 2vw;
    width: 2vw;
}

.exitButtonContainer {
    padding-left: 200px;
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.exitButton {
    width: 120px;


}
