.navbar {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: right;
}

.linkContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    align-items: center;
    text-align: center;
}

.navLink {
    font-size: 1.7vw;
    width: 100%;
    border: 1px solid #C3C3C3;
    border-bottom: 0;
    border-right: 0;
    padding: 10px 10px;
    margin-right: 0;
    text-decoration: none;
    color:black;
}

.navLink:active {
    background-color: #d2d2d2;
}

.navLink:after {
    background-color: #80fffd;
}


.linkContainer:last-child {
    border-bottom: 1px solid #C3C3C3;
}

.navLink:hover {
    background-color: #d7d7d7;
}
