.query_button {
    width: 25%;
}

.query_input {
    width: 70%;
}



.query_container {
    transition: all .0s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}