
.site_statistic_container{
    min-width: 60vw;
    height: 90px;
    background-color: var(--color-element-background-2);
    border-radius: 15px;
    overflow: hidden;
    margin-top: 1.5vh;
    cursor: pointer;
    border: 2px solid var(--color-border);
}

.site_statistic_container:first-child {
    margin-top: 0;
}

.deleteButton {
    margin-right: 20px;
}

@keyframes rotate-forward {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg)
    }
}


.site_statistic_container.active {
    height: auto;
    transition: all;
}

.site_statistic_header {
    background-color: var(--color-element-background);
    height: 86px;
    padding: 25px 0 25px 30px;
    display: flex;
    user-select: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headerName {
    font-size: 1.2em;
    font-family: SegoeUI-bold, serif;
}

.headerUrl {
    font-size: 1.1em;
    font-family: SegoeUI-medium, serif;
}

.header_indexed_icon {
    width: 40px;
    height: 40px;
}

.header_indexed {
    margin-right: auto;
    display: flex;
    align-items: center;

}


.header_indexed_text * {
    font-size: 0.8em;
    margin-left: 1vw;
    font-family: SegoeUI-medium, serif;
}



.header_triangle {
    margin-right: 1vw;
    rotate: 0deg;
}

.header_triangle.active {
    rotate: 180deg;
}


.site_statistic_box {
    display: grid;
    grid-template-columns: 25vw auto;
}
.statistic_site_title {
    font-weight: bold;
}

.date_time {
    display: flex;
    justify-content: left;
}

.last_seen_time {
    margin-left: 2vw;
}

.nameUrl {
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
