.triangle {
    margin-right: 15px;
    rotate: 180deg;
}

@keyframes rotate-forward {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg)
    }
}


.triangle-enter {
    animation: rotate-forward .5s forwards;
}

.triangle-enter-done {
    transform: rotate(180deg);
}

.triangle-exit {
    animation: rotate-forward .5s reverse;
}

.triangle-exit-done {
    transform: rotate(0deg)
}