.input_button {
    width: 15vw;
    min-width: 100px;
    margin-top: 1vh;
    height: 6vh;
}

.input {
    width: 60vw;
    margin-top: 1vh;
    color: black;
}

.input_title {
    font-weight: bold;
}

.inputContainer {
    margin-top: 5vh;
}

.linkInput {
    display: flex;
    align-items: center;
    width: 70vw;
}
