.input_button {
    width: 25%;
    height: 50px;
}

.input {
    width: 60vw;
    margin-top: 1vh;
    color: black;
}

.inputAndButton {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_title {
    margin-left: 5px;
    font-size: 1.4em;
    height: 22px;
    font-weight: bold;
}

.linkInputContainer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 110%;
}

.linkInput {
    width: 100%;
}
