.input_button {
    width: 15vw;
    min-width: 100px;
    height: 6vh;
}

.input {
    width: 60vw;
    margin-top: 1vh;
    color: black;
}

.inputAndButton {
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_title {
    margin-left: 12px;
    font-size: 1.2vw;
    height: 22px;
    font-weight: bold;
}

.linkInput {
    display: flex;
    align-items: center;
    width: 70vw;
}
