.statistic_site_list {
    height: 60vh;
    margin-top: 2vh;
    overflow: auto;
}

.statistic_site_list::-webkit-scrollbar {
    width: 0;   //TODO: скроллбар убрать или подвинуть
    /*background-color: red;*/
}