.circle {
    padding: 10px;
    height: 10vh;
    width: 10vh;
    border-radius: 5vh;
    border: 2px dashed black;
    animation: rotate 1s infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}